extends layout

block content
    div(class="jumbotron mt-4" style='background: url("img/img_slide_1920x1080.png");')
        div(class="container" style="color: white;")
          h1(class="display-3") Your Company
            br
            | is in
            br
            | Good Hands

          p This is a template for a simple marketing or informational website.
            | br
            | It includes a large callout called a jumbotron and three supportingbr
            | br
            | pieces of content. Use it as a starting point to create something more unique.

    div(class="container-fluid" style="width: 100%; background: url('img/white_background.png') no-repeat; margin-top: -40px; padding-top: 30px;")
        div(class="row text-center")
          h2(class='mx-auto') ABOUT STRATDEAL
          p(style="margin-right: 20%; margin-left:20%; text-align: center;") Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. /p>

        div(class="row" style="width: 100% padding-right: 20%")
          div(id="buy" style="width: 100%; background: url('img/blue_background.png') no-repeat;")
            div(class="left")
              h1(class="buysell") BUY

              img(class="icon" src="img/icon_buy.png")

            div(class="right")
              p Lorem ipsum dolor sit amet consectetur adipiscing elit turpis mollis lacinia bibendum magna odio nullam, parturient sapien quam potenti platea vel quisque cursus duis nostra varius ac curabitur.

              button(class="signUp") SIGN UP

        div(class="row" style="width: 100% padding-right: 20%")
          div(id="sell" style="width: 100%; background: url('img/white_background.png') no-repeat;")
            div(class="left")
              h1(class="buysell") SELL

              img(class="icon" src="img/icon_sell.png")

            div(class="right")
              p Lorem ipsum dolor sit amet consectetur adipiscing elit turpis mollis lacinia bibendum magna odio nullam, parturient sapien quam potenti platea vel quisque cursus duis nostra varius ac curabitur.

              button(class="signUp") SIGN UP