extends layout

block content
  div(class='container-fluid' style='margin-top: 100px !important; width: 100%; padding-bottom: 150px;')
      div(class='row align-items-center my-5')
          div(class='col')
              div(class='row ml-4 mb-3')
                  h1(class='font-weight-light') LISTING ASSETS FOR SALE
              div(class='row')

          div(class='col')
              a(class='btn float-right' href='#') + ADD NEW


      div(class='row')
          ul(id='content-nav' class='nav' style='color: black;')
              li(class='nav-item')
                  a(class='content-header nav-link' href='listings.html') HOME
              li(class='nav-item')
                  button(class='content-header nav-link disabled' onclick='hide("mandate")') LISTING
      div(class='row pt-2 my-5')
          div(class='col ml-5' style='max-width:20%')
              div(class='row')
                  img(class='img-fluid rounded' src='http://placehold.it/200x200' alt='Profile Picture')

              div(class='row mt-3')
                  button(class='btn btn-secondary') View Company


          div(class='col' style='min-width:40%')
              div(class='row ml-3 mb-3')
                  h4(class='font-weight-light') INDOOR MAPPING COMPANY

              div(class='row ml-2 mb-3')
                  span(class='align-middle ml-2') DESCRIPTION

              div(class='row ml-2 mb-3')
                  p(class='align-middle ml-2') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

              div(class='row ml-2 mb-3 mt-5')
                  div(class='card' style='width: 100%;')
                      h1(class='card-title ml-2')
                        strong Core Metrics
                      table(class='table')
                          tr
                              td EBITDA
                              td 100000.00

                          tr
                              td Revenue
                              td 100000.00

                          tr
                              td Debt
                              td 00

                          tr
                              td Assets
                              td 3.00

              div(class='row ml-2 mb-3 mt-4')
                  div(class='card' style='width: 100%;')
                      h1(class='ml-2')
                        strong Additional Metrics
                      table(class='table')
                          tr
                              td Cash Flow
                              td 100000.00
          div(class='col' style='min-width:25%')
